{% extends 'sister_web/layout.html' %}
{% load i18n sister_core_tags widget_tweaks %}

{% block content_main %}
<div class="content-main">

    <div class="container ph-3">
        <div class="section pt-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <form action="" method="post">
                            <div class="card-header">
                                <h3 class="card-body__title">Hapus {{ view.opts.verbose_name }} </h3>
                            </div>
                            <div class="card-body">
                                {% csrf_token %}
                                <p>Apakah anda yakin akan menghapus <strong>{{ view.object }}</strong> dari {{ view.opts.verbose_name }}?</p>
                            </div>
                            <div class="card-footer">
                                <input class="btn btn-primary" type="submit" value="Delete">
                                <a href="{{ backurl }}" class="btn btn-dark">Batal</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
