{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | {{ constance.SITE_TITLE }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ constance.SITE_TITLE | upper }}</a></h1>
<p id="site-subtitle">{{ constance.SITE_SUBTITLE }}</p>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
    {% if has_permission and not is_popup %}
    <div class="footer">
        <div class="footer_menu"></div>
        <div class="footer_copyright">
            <p class="small"><a href="#">Copyright © 2019 - 2020</a></p>
        </div>
    </div>
    {% endif %}
{% endblock %}