{% extends 'webapp/layout.html' %}

{% load static sister_core_tags %}

{% block header_main %}
    {% include 'webapp/blocks/appbar.html' %}
{% endblock %}

{% block content_main %}
<div class="content-main">

    <section class="section bg-primary text-white pt-5 pb-5">
        <div class="container ph-3">
            <div class="d-flex align-items-center mb-3">
                <div class="avatar avatar-sm mr-3">
                    <img src="/static/webapp/img/avatar_female.png" alt="Sri Anisah">
                </div>
                <div>
                    <h4 class="mb-0"><strong>{{ instance.siswa }}</strong></h4>
                    <span>{{ instance.mata_pelajaran }}</span>
                </div>
            </div>
        </div>
    </section>

    <div class="container ph-3">
        <section class="section pt-3">
            <div class="card-list">

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-xs btn-primary float-right" href="">Tambah</a>
                            <h2 class="card-body__title">Penilaian Tugas</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive scroll-wrapper scroll-wrapper-sm">
                                {% if instance.tugas.count %}
                                    {% include 'webapp/blocks/table_penilaian.html' with object_list=instance.tugas.all %}
                                {% else %}
                                {% include 'webapp/blocks/empty_content.html' with item='penilaian tugas' %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-xs btn-primary float-right" href="">Tambah</a>
                            <h2 class="card-body__title">Penilaian Harian</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive scroll-wrapper scroll-wrapper-sm">
                            {% if instance.harian.count %}
                                {% include 'webapp/blocks/table_penilaian.html' with object_list=instance.harian.all %}
                            {% else %}
                              {% include 'webapp/blocks/empty_content.html' with item='penilaian harian' %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-xs btn-primary float-right" href="">Tambah</a>
                            <h2 class="card-body__title">Penilaian Tengah Semester</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive scroll-wrapper scroll-wrapper-sm">
                            {% if instance.tengah_semester.count %}
                                {% include 'webapp/blocks/table_penilaian.html' with object_list=instance.tengah_semester.all %}
                            {% else %}
                              {% include 'webapp/blocks/empty_content.html' with item='penilaian tengah semester' %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <a class="btn btn-xs btn-primary float-right" href="">Tambah</a>
                            <h2 class="card-body__title">Penilaian Akhir Semester</h2>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive scroll-wrapper scroll-wrapper-sm">
                            {% if instance.akhir_semester.count %}
                                {% include 'webapp/blocks/table_penilaian.html' with object_list=instance.akhir_semester.all %}
                            {% else %}
                              {% include 'webapp/blocks/empty_content.html' with item='penilaian akhir semester' %}
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

</div>
{% endblock %}