{% extends 'webapp/layout.html' %}
{% load sister_core_tags %}

{% block content_main %}
<div class="content-main">

    <section class="section bg-primary text-white pt-5 pb-5 mb-3">
        <div class="container ph-3">
            <div class="d-flex align-items-center mb-3">
                <div class="avatar avatar-sm mr-3">
                    <img src="/static/webapp/img/avatar_female.png" alt="Sri Anisah">
                </div>
                <div>
                    <h4 class="mb-0"><strong>{{ instance.guru_kelas.person }}</strong></h4>
                    <small>NIP: {{ instance.guru_kelas.nip }}</small>
                </div>
            </div>
            <div>
                <span class="badge badge-light">Tahun Ajaran {{ instance.tahun_ajaran }}</span>
                <span class="badge badge-light">Kurikulum {{ instance.kurikulum }}</span>
                <span class="badge badge-light">Jumlah Siswa {{ instance.jumlah_siswa }} orang</span>
                <span class="badge badge-light">Ruang {{ instance.ruang }}</span>
                <span class="badge badge-warning">Status {{ instance.get_status_display }}</span>
            </div>
        </div>
    </section>

    <div class="container ph-3">
          <div class="section">
            <div class="row">
                {% for item in menu_list %}
                <div class="col-md-6 mb-1">
                    <a href="{{ item.url }}" class="card-list-item">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="icon">
                                    <i class="card-list-item__icon fa fa-{{ item.icon }}"></i>
                                </div>
                                <div>
                                    <h2 class="card-list-item__title">{{ item.title }}</h2>
                                    <div class="card-list-item__meta">
                                        <span>{{ item.description }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
          </div>
    </div>
</div>
{% endblock %}