{% extends 'webapp/layout.html' %}
{% load sister_core_tags %}

{% block content_main %}
<div class="content-main">
    <div class="container ph-3">
          <section class="section pt-3">
            <div class="card-list">
                {% if object_list.count %}
                    {% for item in instance.mata_pelajaran_kelas.all %}
                    <div class="col-md-6 mb-1">
                        {% include 'webapp/blocks/card_list_item_mapel.html' with item=item %}
                    </div>
                    {% endfor %}
                {% else %}
                    {% include 'webapp/blocks/empty_content.html' with item='mata pelajaran' %}
                {% endif %}
            </div>
          </section>
    </div>
</div>
{% endblock %}