{% extends 'webapp/layout.html' %}

{% load static sister_core_tags %}

{% block header_main %}
    {% include 'webapp/blocks/appbar.html' %}
{% endblock %}

{% block content_main %}
<div class="content-main">

    <section class="section bg-primary text-white pt-5 pb-5">
        <div class="container ph-3">
            <div class="d-flex align-items-center mb-3">
                <div>
                    <h4 class="mb-0"><strong>{{ instance.mata_pelajaran }}</strong></h4>
                    <span>{{ instance.guru}}</span>,
                    <span>Kelas {{ instance.kelas.nama_kelas }}</span>
                    <span>Tahun Ajaran {{ instance.kelas.tahun_ajaran }}</span>
                </div>
            </div>
            <div>
                <span class="badge badge-light">KKM: {{ instance.kkm }}</span>
                <span class="badge badge-light">Tugas: {{ instance.tugas }}%</span>
                <span class="badge badge-light">PH: {{ instance.ph }}%</span>
                <span class="badge badge-light">Tengah Semester: {{ instance.pts }}%</span>
                <span class="badge badge-light">Akhir Semester: {{ instance.pas }}%</span>
            </div>
        </div>
    </section>

    <div class="container ph-3">
        <section class="section pt-3">
            {% if instance.kelas.siswa.count %}
                <div class="card-list">
                    {% for item in instance.kelas.siswa.all %}
                    <div class="col-md-6 mb-1">
                        <div class="card">
                            <div class="card-body d-flex align-items-center">
                                <div class="card-list-item__avatar">
                                    <img class="avatar avatar-sm" src="{% block card_item_avatar %}{% static 'webapp/img/avatar_female.png' %}{% endblock %}" alt="Sri Anisah"/>
                                </div>
                                <div>
                                    <h2 class="card-list-item__title">{{ item.siswa }}</h2>
                                    <div class="card-list-item__meta">
                                        <span>Penilaian</span>
                                        <span><a href="{% url 'webapp_mapelkelas_penilaian' mapel_id=instance.id siswa_id=item.id semester=1 %}{% if origin %}?origin={{ origin }}{% endif%}" class="btn btn-xs btn-primary">Semester 1</a></span>
                                        <span><a href="{% url 'webapp_mapelkelas_penilaian' mapel_id=instance.id siswa_id=item.id semester=2 %}{% if origin %}?origin={{ origin }}{% endif%}" class="btn btn-xs btn-primary">Semester 2</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                {% include 'webapp/blocks/empty_content.html' with item='siswa' %}
            {% endif %}
        </section>
    </div>

</div>
{% endblock %}