{% extends 'webapp/layout.html' %}
{% load sister_core_tags %}

{% block content_main %}
<div class="content-main">
    <div class="container ph-3">
          <section class="section pt-3">
            <div class="d-flex justify-content-between mb-4">
                <div>
                    <a class="btn btn-sm btn-primary text-white"
                       href="{% url 'webapp_kelas_absensi' object_id=instance.id %}">
                        <i class="fa fa-plus"></i>
                        Tambah Absensi
                    </a>
                </div>
                <div>
                    <a class="btn btn-sm {% if semester == 1 %}btn-dark{% endif %}"
                    href="?semester=1">
                        Semester 1
                    </a>
                    <a class="btn btn-sm {% if semester == 2 %}btn-dark{% endif %}" 
                    href="?semester=2">
                        Semester 2
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-4">
                    <div class="card">
                        <div class="card-body">
                            {% if object_list.count %}
                            <div class="table-responsive">
                                <table class="table table-hover table-sm mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col" class="border-0">Tanggal</th>
                                        <th scope="col" class="d-none d-md-block border-0">Aktifitas</th>
                                        <th width="20px" class="text-center border-0" scope="col">H</th>
                                        <th width="20px" class="text-center border-0" scope="col">S</th>
                                        <th width="20px" class="text-center border-0" scope="col">I</th>
                                        <th width="20px" class="text-center border-0" scope="col">A</th>
                                        <th width="20px" class="text-center border-0" scope="col">T</th>
                                        <th width="80px" class="text-center border-0" scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {% for item in object_list %}
                                      <tr>
                                        <td>
                                            <div>{{ item.tanggal }}</div>
                                            <span class="small d-block d-md-none">{{ item.get_aktifitas_display }}</span>
                                        </td>
                                        <td class="d-none d-md-block">{{ item.get_aktifitas_display }}</td>
                                        <td class="text-center">{{ item.hadir }}</td>
                                        <td class="text-center">{{ item.sakit }}</td>
                                        <td class="text-center">{{ item.izin }}</td>
                                        <td class="text-center">{{ item.tanpa_keterangan }}</td>
                                        <td class="text-center">{{ item.total }}</td>
                                        <td>
                                            <a href="{% url 'webapp_kelas_absensi_delete' object_id=item.id %}" class="btn btn-xs float-right">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                            <a href="{% url 'webapp_kelas_absensi_update' object_id=item.id %}"
                                               class="btn btn-xs float-right">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                      </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                  {% include 'webapp/blocks/pagination.html' %}
                            </div>
                            {% else %}
                              {% include 'webapp/blocks/empty_content.html' with item='absensi' %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
          </section>
    </div>
</div>
{% endblock %}
