[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
jupyter = "*"
flake8 = "*"
locust = "*"
snapshottest = "*"

[packages]
psycopg2 = "*"
pandas = "*"
pillow = "*"
django = "==3.1.0"
django-filter = "==2.3.0"
django-redis = "*"
django-rq = "*"
django-wkhtmltopdf = "*"
python-pdf = "==0.37"
django-mptt = "*"
django-taggit = "*"
django-numerators = "*"
django-personals = "*"
django-tenants = "*"
django-tenant-users = "*"
django-avatar = "*"
graphene-django = "*"
django-cleanup = "*"
django-graphql-jwt = "*"

django-polymorphic = "*"
# For Web

django-widget-tweaks = "*"
django-tempus-dominus = "*"

[requires]
python_version = "3.8"

# httpx = "*"
# django-polymorphic = "*"
# django-import-export = "*"
# django-heroku = "*"
# django-qrcodes = "*"
# django-payments = "*"
# django-nested-admin = "*"
# django-admin-numeric-filter = "*"
# django-admin-rangefilter = "*"
# django-constance = {extras = ["redis"], version = "*"}
# djangorestframework = "==3.11.0"
# djangorestframework-simplejwt = "==4.4.0"
# drf-yasg = {extras = ["validation"], version = "==1.17.1"}
# djoser = "==2.0.3"
# starlette = "*"
# uvicorn = "*"
# aiofiles = "*"
# python-multipart = "*"
# aiocache = "*"
