<div class="card border-0 shadow-sm">
    <div class="card-header d-flex">
        <div>
            <h2 class="card-body__title">
                <i class="fa fa-quidditch mr-1"></i>
                Senin</h2>
            <div class="card-body__meta">
                <span>Semester 1</span><span>4 Siswa</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="scroll-wrapper scroll-wrapper-sm">
            <ul class="card-body__list">
                <li class="card-body__list-item">
                    <h3 class="card-body__list-title">
                        <i class="fa fa-user-graduate mr-2"></i> Mahathir Muhammad</h3>
                    <div class="card-body__meta">
                        <span>1</span>
                        <span>NIS: 11111111</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>