<div class="card border-0 shadow-sm">
    <div class="card-header d-flex">
        <div>
            <h2 class="card-body__title">
                <i class="fa fa-calendar mr-2"></i>Senin</h2>
            <div class="card-body__meta">
                <span>Semester 1</span><span>5 Mata Pelajaran</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="scroll-wrapper scroll-wrapper-sm">
            <ul class="card-body__list">
                <li class="card-body__list-item">
                    <h3 class="card-body__list-title">
                        <i class="fa fa-book mr-2"></i>
                        Pendidikan Jasmani, Olahraga dan Kesehatan</h3>
                    <div class="card-body__meta">
                        <span>1A 2020/2021</span>
                        <span>07:00 - 08:30</span>
                    </div>
                </li>
                <li class="card-body__list-item">
                    <h3 class="card-body__list-title">
                        <i class="fa fa-book mr-2"></i>
                        Bahasa Indonesia</h3>
                    <div class="card-body__meta">
                        <span>Sri Anisah, S.Pd</span>
                        <span>07:00 - 08:30</span>
                    </div>
                </li>
                <li class="card-body__list-item">
                    <h3 class="card-body__list-title">
                        <i class="fa fa-book mr-2"></i>
                        Pendidikan Agama Islam</h3>
                    <div class="card-body__meta">
                        <span>1A 2020/2021</span>
                        <span>07:00 - 08:30</span>
                    </div>
                </li>
                <li class="card-body__list-item">
                    <h3 class="card-body__list-title">
                        <i class="fa fa-book mr-2"></i>
                        Pendidikan Pancasila dan Kewarganegaraan</h3>
                    <div class="card-body__meta">
                        <span>1A 2020/2021</span>
                        <span>07:00 - 08:30</span>
                    </div>
                </li>
                <li class="card-body__list-item">
                    <h3 class="card-body__list-title">
                        <i class="fa fa-book mr-2"></i>
                        Ilmu Pengetahuan Alam</h3>
                    <div class="card-body__meta">
                        <span>1A 2020/2021</span>
                        <span>07:00 - 08:30</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>