{% load webapp_tags widget_tweaks %}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                {% for col in inline_fields %}
                    <th class="border-0">{{ col | title }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {{ inlineform.management_form }}
        {% for form in inlineform %}
            <tr>
                {% for field in form %}
                {% if not field.is_hidden %}
                    <td>
                        {% if field|is_checkbox %}
                            <div class="form-check form-check-inline" style="padding-top: calc(.375rem + 1px);">
                                {% render_field field class='form-check-input' %}
                                <label class="form-check-label small" for="{{ field.name }}">
                                {{ field.label }}
                                </label>
                            </div>
                        {% else %}
                            {% render_field field class='form-control' %}
                        {% endif %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {{ field.errors }}
                    </td>
                {% else %}
                    {{ field }}
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>