{% extends 'admin/inspect.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
  &rsaquo; {{ instance|truncatewords:"18" }}
</div>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block content %}
<div id="content-main">
  <h1>Selamat Datang {{ instance }}</h2>
  <!-- Module Kelas untuk Wali Kelas -->
  {% block object-tools %}
  <ul class="object-tools">
      <li><a href="{% url 'admin:sister_personal_person_inspect' object_id=instance.person.id %}">Profile</a></li>
      {% if instance.person.user %}
      <li><a href="{% url 'admin:sister_auth_user_change' object_id=instance.person.user.id %}">User</a></li>
      {% endif %}
    </ul>
  {% endblock %}
  <div class="module">
    <h2 class="subhead">Kelas Diampu</h2>
    {% if instance.kelas.count %}
    <table class="model">
      <thead>
      <tr>
        <th width="90">Kelas</th>
        <th>Kurikulum</th>
        <th>Status</th>
        <th width="70"></th>
      </tr>
      </thead>
      <tbody></tbody>
      {% for item in instance.kelas.all %}
      <tr>
        <td>{{ item }}</td>
        <td>{{ item.kurikulum }}</td>
        <td>{{ item.get_status_display }}</td>
        <td><a href="{% url 'admin:sister_pembelajaran_kelas_inspect' object_id=item.id %}">Tampilkan &rsaquo;</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <tbody>
        <tr>
            <td colspan="5">Anda tidak memiliki kelas yang diampu, mungkin ada bukan guru kelas.</td>
        </tr>
    </tbody>
    {% endif %}
  </div>

  

  <!-- Module Mata Pelajaran untuk Guru Mata Pelajaran -->
  <div class="module">
    <h2 class="subhead">Mata Pelajaran Diampu</h2>
    <table class="model">
      <thead>
      <tr>
        <th width="90">Kelas</th>
        <th>Mata Pelajaran</th>
        <th width="70"></th>
      </tr>
      </thead>
      <tbody>
      {% for item in instance.mata_pelajaran.all %}
      <tr>
        <td>{{ item.kelas }}</td>
        <td>{{ item.mata_pelajaran.mata_pelajaran.nama }}</td>
        <td><a href="{% url 'admin:sister_pembelajaran_matapelajarankelas_inspect' object_id=item.id %}">Tampilkan &rsaquo;</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Module Jadwal Pelajaran untuk Guru Mata Pelajaran -->
  <div class="module">
    <h2 class="subhead">Jadwal Pelajaran Hari Ini</h2>
    <table class="model">
      <thead>
      <tr>
        <th width="90">Kelas</th>
        <th>Mata Pelajaran</th>
        <th>Mulai</th>
        <th>Berakhir</th>
        <th width="70"></th>
      </tr>
      </thead>
      <tbody>
      {% for item in instance.get_jadwal %}
      <tr>
        <td>{{ item.mata_pelajaran_kelas.kelas }}</td>
        <td>{{ item.mata_pelajaran_kelas.mata_pelajaran.mata_pelajaran.nama }}</td>
        <td>{{ item.jam_mulai }}</td>
        <td>{{ item.jam_berakhir }}</td>
        <td>Tampilkan &rsaquo;</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <p class="small">
    <a href="{% url opts|admin_urlname:'changelist' %}">&lsaquo; {% trans 'Back to' %} {{ opts.verbose_name_plural|capfirst }}</a>
  </p>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related" class="sidebar">
  <div class="module button_actions">
    <input type="submit" value="Account" name="_addanother"/>
    <input type="submit" value="Print" name="_addanother"/>
  </div>
</div>
{% endblock %}
