@import "./scss/bootstrap";
@import "./scss/vendor/bootstrap-datepicker";
@import './fontawesome/css/all.css';

@import './scss/avatar';
@import './scss/blocks/appbar.scss';

body {
    background-color: #f9f9f9;
}

h1, h2, h3, h4, h5 {
    letter-spacing: -.05rem;
}

.header-container {
    margin-bottom: 3rem;
    @include media-breakpoint-down(sm) {
        margin-bottom: 2rem;
      }
}

.body-container {
    margin-top: 74px;
    margin-bottom: 3rem;
    padding: 0;
    @include media-breakpoint-down(md) {
        margin-top: 66px;
      }
}

.content-main {
    margin: 0;
    &.has-sidenav {
        margin-left: 130px;
        @include media-breakpoint-down(md) {
            margin-left: 0;
          }
    }
}

.section {
    padding: 1rem 0;
    &__header {
        margin-bottom: 1.5rem;
    }
    &__title {
        font-size: 1.5rem;
    }
}