{% extends 'admin/kelas_detail.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

  {% block object_tools %}
  <ul class="object-tools">
    <li>
      <a href="{% url 'admin:guruadmin_kelas_presensi_add' object_id=instance.id  %}" class="mdi mdi-calendar">
        Tambah Presensi 
      </a>
    </li>
  </ul>
  {% endblock %}

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    <h2 class="subhead">Presensi Kelas Per Tanggal</h2>
    {% if instance.presensi.count %}
    <table class="model">
      <thead>
      <tr>
        <th width="120">Tanggal</th>
        <th>Hari</th>
        <th>Hadir</th>
        <th>Sakit</th>
        <th>Izin</th>
        <th>TK</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
        {% for item in instance.presensi.all %}
        <tr>
          <td><a href="">
            <strong>{{ item.tanggal }}</strong>
          </a>
          </td>
          <td>{{ item.hari }}</td>
          <td>{{ item.hadir }}</td>
          <td>{{ item.sakit }}</td>
          <td>{{ item.izin }}</td>
          <td>{{ item.tanpa_keterangan }}</td>
          <td>{{ item.total }}</td>
        </tr>
        {% endfor %}
       </tbody>
    </table>
      {% else %}
    <table>
      <tr>
          <td colspan="5">Kelas {{ instance }} belum memiliki presensi.
          <a href=""> &rarr; <strong>Tambah Presensi</strong></a></td>
      </tr>
      {% endif %}
    </table>
  </div>
</div>
{% endblock %}