{% extends 'admin/kelas_detail.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    {% for jadwal in instance.jadwal_kelas.all %}
    <h2 class="subhead">{{ jadwal.get_hari_display }}</h2>
    <table class="model">
      <thead>
        <th>Nama</th>
        <th>Guru</th>
        <th width="80">Mulai</th>
        <th width="80">Berakhir</th>
        <th width="70"></th>
      </thead>
      <tbody>
        {% if jadwal.mata_pelajaran.count %}
          {% for item in jadwal.mata_pelajaran.all %}
            <tr>
              <td><a href=""><strong>{{ item.mata_pelajaran.mata_pelajaran.nama }}</strong></a></td>
              <td>{{ item.mata_pelajaran.guru }}</td>
              <td>{{ item.jam_mulai }}</td>
              <td>{{ item.jam_berakhir }}</td>
              <td><a href="">Ubah &rsaquo;</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
              <td colspan="5">Kelas {{ instance }} tidak memilik jadwal pada hari {{ jadwal.get_hari_display }}.</td>
          </tr>
        {% endif %}
        {% if jadwal.ekskul.count %}
          {% for item in jadwal.ekskul.all %}
            <tr>
              <td colspan="2">Ekstra Kurikuler {{ item }}</td>
              <td>{{ item.jam_mulai }}</td>
              <td>{{ item.jam_berakhir }}</td>
              <td><a href="">Ubah &rsaquo;</a></td>
            </tr>
          {% endfor %}
        {% endif %}
       </tbody>
    </table>
    <br/>
    {% endfor %}
  </div>
</div>
{% endblock %}