{% extends 'admin/inspect.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance | truncatewords:"18" }}
</div>
{% endblock %}

{% block coltype %}{% endblock %}

{% block content_top %}
  <div class="section is-narrow toolbox">
    <div class="columns is-mobile is-multiline">

      <div class="column toolbox__item">
        <a class="toolbox__item__link"
           href="{% url 'admin:guruadmin_kelas_detail' object_id=instance.id %}">
          <div class="toolbox__item__icon">
            <i class="mdi mdi-home-variant-outline"></i>
          </div>
          <div class="">Depan Kelas</div>
        </a>
      </div>

      <div class="column toolbox__item">
        <a class="toolbox__item__link"
           href="{% url 'admin:guruadmin_kelas_siswa' object_id=instance.id %}">
          <div class="toolbox__item__icon">
            <i class="mdi mdi-account-group"></i>
          </div>
          <div class="">Siswa Kelas</div>
        </a>
      </div>

      <div class="column toolbox__item">
        <a class="toolbox__item__link"
           href="{% url 'admin:guruadmin_kelas_mapel' object_id=instance.id %}">
          <div class="toolbox__item__icon">
            <i class="mdi mdi-book-open-variant"></i>
          </div>
          <div class="">Mata Pelajaran</div>
        </a>
      </div>

      <div class="column toolbox__item">
        <a class="toolbox__item__link"
           href="{% url 'admin:guruadmin_kelas_presensi' object_id=instance.id %}">
          <div class="toolbox__item__icon">
            <i class="mdi mdi-human-greeting"></i>
          </div>
          <div class="">Presensi Siswa</div>
        </a>
      </div>

      <div class="column toolbox__item">
        <a class="toolbox__item__link"
           href="{% url 'admin:guruadmin_kelas_jadwal' object_id=instance.id %}">
          <div class="toolbox__item__icon">
            <i class="mdi mdi-calendar"></i>
          </div>
          <div class="">Jadwal Kelas</div>
        </a>
      </div>

      <div class="column toolbox__item">
        <a class="toolbox__item__link"
           href="{% url 'admin:guruadmin_kelas_piket' object_id=instance.id %}">
          <div class="toolbox__item__icon">
            <i class="mdi mdi-ballot-recount-outline"></i>
          </div>
          <div class="">Piket Kelas</div>
        </a>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}

<div id="content-main">

  {% block object_tools %}
  <ul class="object-tools">
    <li>
      <a href="" class="mdi mdi-calendar">
        Cetak Buku Kelas
      </a>
    </li>
  </ul>
  {% endblock %}

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">

    <table class="model">
      <tbody>
          <tr>
              <td width="15%"><strong>Nama Kelas</strong></td>
              <td width="35%">{{ instance.nama_kelas }}</td>
              <td width="15%"><strong>Status</strong></td>
              <td width="35%">{{ instance.get_status_display }}</td>
          </tr>
          <tr>
              <td><strong>Guru Kelas</strong></td>
              <td>{{ instance.guru_kelas }}</td>
              <td><strong>Ruang</strong></td>
              <td>{{ instance.ruang }}</td>
          </tr>
          <tr>
              <td><strong>Tahun Ajaran</strong></td>
              <td>{{ instance.tahun_ajaran }}</td>
              <td><strong>Jumlah Siswa</strong></td>
              <td>{{ instance.siswa.count }}</td>
          </tr>
          <tr>
              <td><strong>Kurikulum</strong></td>
              <td>{{ instance.kurikulum }}</td>
              <td></td>
              <td></td>
          </tr>
      </tbody>
    </table>
    <br/>
    <h2 class="subhead">Rentang Nilai {{ instance }}</h2>

    <table class="model">
      <thead>
      <tr>
        <th width="60">Huruf</th>
        <th>Nilai Minimum</th>
        <th>Nilai Maximum</th>
        <th>Predikat</th>
        <th>Tindakan</th>
        <th width="20"></th>
      </tr>
      </thead>
      <tbody>
        {% if instance.rentang_nilai.count %}
        {% for item in instance.rentang_nilai.all %}
        <tr>
            <td>{{ item.predikat }}</td>
            <td>{{ item.nilai_minimum }}</td>
            <td>{{ item.nilai_maximum }}</td>
            <td>{{ item.get_predikat_display | capfirst }}</td>
            <td>{{ item.get_aksi_display | capfirst }}</td>
            <td>
              <a class="changelink" href="{% url 'admin:guruadmin_kelas_rentang_update' object_id=item.id %}" title="Ubah"></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Kelas {{ instance }} belum memiliki rentang nilai.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">

    <h2 class="subhead">Jadwal Pelajaran (Hari Ini)</h2>
    <table class="model">
      <thead>
      <tr>
        <th>Nama</th>
        <th width="120">Kode</th>
        <th>Guru</th>
        <th width="80">Mulai</th>
        <th width="80">Berakhir</th>
      </tr>
      </thead>
      <tbody>
            {% if instance.get_jadwal_pelajaran.count %}
                {% for item in instance.get_jadwal_pelajaran %}
                <tr>
                    <td><strong>{{ item.mata_pelajaran.mata_pelajaran.nama }}</strong></td>
                    <td>{{ item.mata_pelajaran.mata_pelajaran.kode }}</td>
                    <td>{{ item.mata_pelajaran.guru }}</td>
                    <td>{{ item.jam_mulai }}</td>
                    <td>{{ item.jam_berakhir }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">Kelas {{ instance }} tidak ada jadwal pelajaran hari ini.</td>
            </tr>
            {% endif %}
          </tbody>
      </table>
  </div>
  
  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    <h2 class="subhead">Jadwal Ekstra Kurikuler (Hari Ini)</h2>
    
    <table class="model">
      <thead>
      <tr>
        <th>Nama</th>
        <th width="80">Mulai</th>
        <th width="80">Berakhir</th>
      </tr>
      </thead>
      <tbody>
        {% if instance.get_jadwal_ekskul.count %}
        {% for item in instance.get_jadwal_ekskul %}
        <tr>
            <td><strong>{{ item.ekstra_kurikuler }}</strong></td>
            <td>{{ item.jam_mulai }}</td>
            <td>{{ item.jam_berakhir }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Kelas {{ instance }} tidak ada jadwal ekstra kurikuler hari ini.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related" class="sidebar">
</div>
{% endblock %}