{% extends 'admin/inspect.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance | truncatewords:"18" }}
</div>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block content %}

<div id="content-main">

    {% if not instance.rentang_nilai.count %}
    <ul class="errorlist">
        <li>Kelas belum memiliki rentang nilai, buat rentang nila dari A s.d E.</li>  
    </ul>
    {% endif %}

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    <h2 class="subhead">Rentang Nilai {{ instance }}</h2>
    <table class="model">
      <thead>
      <tr>
        <th width="60">Huruf</th>
        <th>Nilai Minimum</th>
        <th>Nilai Maximum</th>
        <th>Predikat</th>
        <th>Tindakan</th>
        <th width="20"></th>
      </tr>
      </thead>
      <tbody>
        {% if instance.rentang_nilai.count %}
        {% for item in instance.rentang_nilai.all %}
        <tr>
            <td>{{ item.predikat }}</td>
            <td>{{ item.nilai_minimum }}</td>
            <td>{{ item.nilai_maximum }}</td>
            <td>{{ item.get_predikat_display | capfirst }}</td>
            <td>{{ item.get_aksi_display | capfirst }}</td>
            <td>
              <a class="changelink" href="{% url 'admin:guruadmin_kelas_rentang_update' object_id=item.id %}" title="Ubah"></a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Kelas {{ instance }} belum memiliki rentang nilai.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">

    <h2 class="subhead">Jadwal Pelajaran (Hari Ini)</h2>
    <table class="model">
      <thead>
      <tr>
        <th>Nama</th>
        <th width="120">Kode</th>
        <th>Guru</th>
        <th width="80">Mulai</th>
        <th width="80">Berakhir</th>
      </tr>
      </thead>
      <tbody>
            {% if instance.get_jadwal_pelajaran.count %}
                {% for item in instance.get_jadwal_pelajaran %}
                <tr>
                    <td><strong>{{ item.mata_pelajaran.mata_pelajaran.nama }}</strong></td>
                    <td>{{ item.mata_pelajaran.mata_pelajaran.kode }}</td>
                    <td>{{ item.mata_pelajaran.guru }}</td>
                    <td>{{ item.jam_mulai }}</td>
                    <td>{{ item.jam_berakhir }}</td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <td colspan="5">Kelas {{ instance }} tidak ada jadwal pelajaran hari ini.</td>
            </tr>
            {% endif %}
          </tbody>
      </table>
  </div>
  
  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    <h2 class="subhead">Jadwal Ekstra Kurikuler (Hari Ini)</h2>
    
    <table class="model">
      <thead>
      <tr>
        <th>Nama</th>
        <th width="80">Mulai</th>
        <th width="80">Berakhir</th>
      </tr>
      </thead>
      <tbody>
        {% if instance.get_jadwal_ekskul.count %}
        {% for item in instance.get_jadwal_ekskul %}
        <tr>
            <td><strong>{{ item.ekstra_kurikuler }}</strong></td>
            <td>{{ item.jam_mulai }}</td>
            <td>{{ item.jam_berakhir }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Kelas {{ instance }} tidak ada jadwal ekstra kurikuler hari ini.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related" class="sidebar">

    <div class="module">
        <div class="module__widget">
        <a class="button" href="{% url 'admin:guruadmin_kelas_detail' object_id=instance.id %}">Depan Kelas</a>
        <a class="button" href="{% url 'admin:guruadmin_kelas_siswa' object_id=instance.id %}">Siswa Kelas</a>
        <a class="button" href="{% url 'admin:guruadmin_kelas_presensi' object_id=instance.id %}">Presensi Siswa</a>
        <a class="button" href="{% url 'admin:guruadmin_kelas_mapel' object_id=instance.id %}">Mata Pelajaran</a>
        <a class="button" href="{% url 'admin:guruadmin_kelas_jadwal' object_id=instance.id %}">Jadwal Kelas</a>
        <a class="button" href="{% url 'admin:guruadmin_kelas_piket' object_id=instance.id %}">Piket Kelas</a>
        </div>
    </div>

    <div class="module">
        <div class="module__widget">
            <table class="model">
                <tbody>
                    <tr>
                        <td width="90px"><strong>Nama Kelas</strong></td>
                        <td>{{ instance.nama_kelas }}</td>
                    </tr>
                    <tr>
                        <td><strong>Guru Kelas</strong></td>
                        <td>{{ instance.guru_kelas }}</td>
                    </tr>
                    <tr>
                        <td><strong>Tahun Ajaran</strong></td>
                        <td>{{ instance.tahun_ajaran }}</td>
                    </tr>
                    <tr>
                        <td><strong>Kurikulum</strong></td>
                        <td>{{ instance.kurikulum }}</td>
                    </tr>
                    <tr>
                        <td><strong>Status</strong></td>
                        <td>{{ instance.get_status_display }}</td>
                    </tr>
                    <tr>
                      <td><strong>Ruang</strong></td>
                      <td>{{ instance.ruang }}</td>
                    </tr>
                    <tr>
                      <td><strong>Jumlah Siswa</strong></td>
                      <td>{{ instance.siswa.count }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}