{% extends 'admin/kelas_detail.html' %}
{% load i18n static admin_urls admin_modify sister_core_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

  {% block object_tools %}
  <ul class="object-tools">
    <li>
      <a href="{% url 'admin:guruadmin_kelas_piket_add' object_id=instance.id  %}" class="mdi mdi-plus">
        Tambah Jadwal Piket 
      </a>
    </li>
  </ul>
  {% endblock %}

  <div id="changelist">
    <div id="toolbar">
      <form id="" method="get">
      <div><!-- DIV needed for valid HTML -->
        <label>Semester:
          <select name="action" required="">
            <option value="" selected="">---------</option>
            <option value="1">Semester 1</option>
            <option value="2">Semester 2</option>
          </select>
        </label>
        <input type="submit" title="Filter" name="submit_action" value="Filter">
        <input type="submit" title="Reset" name="submit_action" value="Reset">
        <input type="submit" title="Download" name="submit_action" value="Download">
      </div>
      </form>
    </div>
  </div>

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    {% regroup instance.piket_semester by hari as piket_list %}

    {% if piket_list %}
      {% for piket in piket_list %}
      <h2 class="subhead">{{ piket.grouper | weekday }}</h2>
      <table class="model">
        <thead>
          <th>Nama Siswa</th>
          <th width="100">NIS</th>
          <th width="100">NISN</th>
          <th width="100">Jenis Kelamin</th>
          <th width="20"></th>
        </thead>
        <tbody>
            {% for item in piket.list %}
              <tr>
                <td><strong>{{ item.siswa_kelas.siswa }}</strong></td>
                <td>{{ item.siswa_kelas.siswa.nis }}</td>
                <td>{{ item.siswa_kelas.siswa.nisn }}</td>
                <td>{{ item.siswa_kelas.siswa.person.get_gender_display }}</td>
                <td>
                  <a class="deletelink" href="{% url 'admin:guruadmin_kelas_piket_delete' object_id=item.id %}" title="Hapus"></a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br/>
      {% endfor %}
    {% else %}
      <p>Kelas {{ instance }} tidak ada siswa piket</p>
    {% endif %}
  </div>
</div>
{% endblock %}