{% extends 'admin/inspect.html' %}
{% load i18n static admin_urls admin_modify %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance|truncatewords:"18" }}
</div>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block content %}

<div id="content-main">

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    <h2 class="subhead">Riwayat Kelas</h2>
    
    <table class="model">
      <thead>
      <tr>
        <th>Nama Kelas</th>
        <th>Guru Kelas</th>
        <th>Tahun Ajaran</th>
        <th>Status Kelas</th>
        <th width="80">Status Siswa</th>
      </tr>
      </thead>
      <tbody>
        {% if instance.kelas.count %}
          {% for item in instance.kelas.all %}
          <tr>
              <td><a href="{% url 'admin:guruadmin_siswa_kelas' object_id=item.id %}"><strong>{{ item.kelas }}</strong></a></td>
              <td>{{ item.kelas.guru_kelas }}</td>
              <td>{{ item.kelas.tahun_ajaran }}</td>
              <td>{{ item.kelas.get_status_display }}</td>
              <td>{{ item.get_status_display }}</td>
          </tr>
          {% endfor %}
        {% else %}
        <tr>
            <td colspan="5">Kelas {{ instance }} tidak ada jadwal ekstra kurikuler hari ini.</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

</div>
{% endblock %}

{% block sidebar %}
<div id="content-related" class="sidebar">

    <div class="module">
        <div class="module__widget">
          <a class="button" href="{% url 'admin:guruadmin_siswa' object_id=instance.id %}">Profil Siswa</a>
        </div>
    </div>

    <div class="module">
        <div class="module__widget">
            <table class="model">
                <tbody>
                    <tr>
                        <td width="90px"><strong>Nama Kelas</strong></td>
                        <td>{{ instance.nama_kelas }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}