{% extends 'admin/kelas_detail.html' %}
{% load i18n static admin_urls admin_modify sister_core_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; {{ instance|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">

  {% block object_tools %}
  <ul class="object-tools">
    <li>
      <a href="{% url 'admin:guruadmin_kelas_jadwal_add' object_id=instance.id  %}" class="mdi mdi-plus">
        Tambah Jadwal Pelajaran 
      </a>
    </li>
  </ul>
  {% endblock %}

  <div id="changelist">
    <div id="toolbar">
      <form id="" method="get">
      <div><!-- DIV needed for valid HTML -->
        <label>Semester:
          <select name="action" required="">
            <option value="" selected="">---------</option>
            <option value="1">Semester 1</option>
            <option value="2">Semester 2</option>
          </select>
        </label>
        <input type="submit" title="Filter" name="submit_action" value="Filter">
        <input type="submit" title="Reset" name="submit_action" value="Reset">
        <input type="submit" title="Download" name="submit_action" value="Download">
      </div>
      </form>
    </div>
  </div>

  <!-- Module Kelas untuk Wali Kelas -->
  <div class="module">
    {% regroup instance.jadwal_pelajaran_semester by hari as jadwal_list %}
    
    {% if jadwal_list %}
      {% for jadwal in jadwal_list %}
      <h2 class="subhead">{{ jadwal.grouper | weekday }}</h2>
      <table class="model">
        <thead>
          <th>Nama</th>
          <th>Guru</th>
          <th width="80">Mulai</th>
          <th width="80">Berakhir</th>
          <th width="40"></th>
        </thead>
        <tbody>
            {% for item in jadwal.list %}
              <tr>
                <td><strong>{{ item.mata_pelajaran.mata_pelajaran.nama }}</strong></td>
                <td>{{ item.mata_pelajaran.guru }}</td>
                <td>{{ item.jam_mulai }}</td>
                <td>{{ item.jam_berakhir }}</td>
                <td>
                  <a class="changelink" href="{% url 'admin:guruadmin_kelas_jadwal_update' object_id=item.id %}" title="Ubah"></a>
                  <a class="deletelink" href="{% url 'admin:guruadmin_kelas_jadwal_delete' object_id=item.id %}" title="Hapus"></a>
                </td>
              </tr>
            {% endfor %}
        </tbody>
      </table>
      <br/>
      {% endfor %}
    {% else %}
    <tr>
        <td colspan="5">
          Kelas {{ instance }} tidak memilik jadwal.
        </td>
    </tr>
    {% endif %}
  </div>
</div>
{% endblock %}