{% extends 'sister_web/layout.html' %}
{% load sister_core_tags %}

{% block content_main %}
<div class="content-main">
    <div class="container ph-3">
          <section class="section pt-3">
            <div class="d-flex justify-content-between mb-4">
                <div>
                    <a class="btn btn-sm btn-primary text-white"
                    href="{% url 'sister_web_kelas_piket' object_id=instance.id %}">
                        <i class="fa fa-plus mr-1"></i>
                        Tambah
                    </a>
                    <a class="btn btn-sm btn-primary text-white"
                        href="{% url 'sister_web_kelas_piket' object_id=instance.id %}">
                        <i class="fa fa-print mr-1"></i>
                        Cetak
                    </a>
                </div>
                <div>
                    <a class="btn btn-sm {% if semester == 1 %}btn-dark{% endif %}"
                    href="?semester=1">
                        Semester 1
                    </a>
                    <a class="btn btn-sm {% if semester == 2 %}btn-dark{% endif %}" 
                    href="?semester=2">
                        Semester 2
                    </a>
                </div>
            </div>
            {% if object_list.count %}
                <div class="row">
                    {% regroup object_list by hari as piket_list %}
                    {% if piket_list %}
                        {% for piket in piket_list %}
                            <div class="col-md-6 mb-2">
                                {% include 'sister_web/blocks/card_piket.html' with item=piket semester=semester %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                {% include 'sister_web/blocks/empty_content.html' with item='piket siswa' %}
            {% endif %}
          </section>
    </div>
</div>
{% endblock %}

