#sidenavButton {
    padding: 10px 10px 5px;
    background: none;
    border: 1px solid white;
    border-radius: 3px;
}
#sidenavButton span {
    width: 25px;
    height: 3px;
    display: block;
    background-color: white;
    margin-bottom: 5px;
}
.sidenav-header {
    text-align: center;
    padding: 30px 30px 15px;
    border-bottom: 1px solid #20678a;
}
.sidenav-header h1 {
    margin-bottom: 0;
    font-weight: bold;
    color: #f5dd5d;
}
.sidenav-header span {
    color: #f5dd5d;
}
img.sidenav-header-logo {
    max-height: 80px;
    max-width: 120px;
    margin-bottom: 15px;    
}
.sidebar-nav {
    background: #1a5471;
}
#sidenav i.mdi {
    margin-right: 15px;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #1e536d;
}

.sidebar-nav .metismenu {
    background: #1a5471;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.sidebar-nav .metismenu li + li {
  margin-top: 0;
}

.sidebar-nav .metismenu li:first-child {
  margin-top: 0;
}
.sidebar-nav .metismenu li:last-child {
  margin-bottom: 0;
}


.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    font-weight: 500;
    font-size: 14px;
    position: relative;
    display: block;
    padding: 13px 15px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active > a {
    color: #f8f9fa;
    text-decoration: none;
    background: #154963;
}
