<div>
    <div class="col col-3 text-center">
        <span>Kepala Sekolah</span><br/>
        <span>{{ constance.COMPANY_NAME }}</span>
        <div class="spacer-4"></div>
        <strong>Nama Kepala Sekolah</strong><br/>
        <span>NIP. Kepala Sekolah</span><br/>
    </div>
    <div class="col col-3"></div>
    <div class="col col-3 text-center">
        <span>Tanggal {{ instance.created_at }}</span><br/>
        <span>Wali Kelas {{ instance }}</span>
        <div class="spacer-4"></div>
        <strong>{{ instance.guru_kelas.person }}</strong><br/>
        <span>NIP.{{ instance.guru_kelas.nip }}</span><br/>
    </div>
</div>