
{% extends 'webapp/base.html' %}


{% block content %}
    
    <header class="appbar appbar-top">
        <div class="container">
        {% block appbar_top %}{% endblock %}
        {% block header_main %}{% endblock %}
        {% block header_bottom %}{% endblock %}
        </div>
    </header>

    <div class="body-container">
        {% block content_top %}{% endblock %}
        {% block content_main %}
            {{ content }}
        {% endblock %}
        {% block content_bottom %}{% endblock %}
    </div>

    <div class="footer-container">
        {% block footer_top %}{% endblock %}
        {% block footer_main %}{% endblock %}
        {% block appbar_bottom %}{% endblock %}
    </div>

    {% block modal %}{% endblock %}

{% endblock %}