{% load static %}

<a href="{% block card_item_url %}#{% endblock %}" class="card-list-item">
    <div class="card">
        <div class="card-body d-flex align-items-center">
            <div class="card-list-item__avatar">
                <img class="avatar avatar-sm" src="{% block card_item_avatar %}{% static 'sister_web/img/avatar_female.png' %}{% endblock %}" alt="Sri Anisah"/>
            </div>
            <div>
                <h2 class="card-list-item__title">{% block card_item_title %}Card Title{% endblock %}</h2>
                <div class="card-list-item__meta">
                    {% block card_item_badge %}<span>Badge 1</span><span>Badge 2</span>{% endblock %}
                </div>
            </div>
        </div>
    </div>
</a>