{% load sister_core_tags %}

<div class="card">
    <div class="card-header d-flex">
        <div>
            <h2 class="card-body__title">
                <i class="fa fa-calendar mr-2"></i>{{ jadwal.grouper | weekday }}</h2>
            <div class="card-body__meta">
                <span>Semester {{ semester }}</span><span>{{ jadwal.list | length }} Mata Pelajaran</span>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="scroll-wrapper scroll-wrapper-sm">
            <ul class="card-body__list">
                {% for item in jadwal.list %}
                <li class="card-body__list-item">
                    <div class="float-right">
                        <a href="{% url 'sister_web_kelas_jadwal_update' object_id=item.id %}" class="btn btn-xs" role="tooltip"
                            data-placement="left" data-toggle="tooltip" title="Ubah">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{% url 'sister_web_kelas_jadwal_delete' object_id=item.id %}" class="btn btn-xs" role="tooltip"
                            data-placement="left" data-toggle="tooltip" title="Hapus">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                    <h3 class="card-body__list-title">
                        <i class="fa fa-book mr-2"></i>
                        {{ item.mata_pelajaran.mata_pelajaran.nama }}</h3>
                    <div class="card-body__meta">
                        <span>{{ item.mata_pelajaran.kelas }}</span>
                        <span>{{ item.jam_mulai }} - {{ item.jam_berakhir }}</span>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>