{% load sister_web_tags widget_tweaks %}

{% for field in form %}
    {% if not field.is_hidden %}
        <div class="form-row mb-2">
            {% if field|is_checkbox %}
                <div class="form-check form-check-inline" style="padding-top: calc(.375rem + 1px);">
                    {% render_field field class='form-check-input' %}
                    <label class="form-check-label" for="{{ field.name }}">
                    {{ field.label }}
                    </label>
                </div>
            {% else %}
                <label for="{{ field.name }}">
                    {{ field.label }}{% if field.field.required %} <sup class="text-danger">*</sup>{% endif %}
                </label>
                {% render_field field class='form-control' %}
            {% endif %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {{ field.errors }}
        </div>
    {% else %}
        {{ field }}
    {% endif %}
{% endfor %}