<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        margin: 0;
        padding: 0;
      }
      .outter__container {
        display: block;
        padding: 1px;
        border-bottom: 1px solid #666666;
      }
      h1,
      h2,
      h3,
      h4 {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="outter__container">
      <table>
        <tr>
          <td>
            <h1 class="header__title">{{ constance.COMPANY_NAME }}</h1>
            <p class="header__description">
              {{ constance.COMPANY_ADDRESS }}, {{ constance.COMPANY_CITY }}<br/>
              {{ constance.COMPANY_PROVINCE }}&nbsp;-&nbsp;{{constance.COMPANY_COUNTRY }}
              {{ constance.COMPANY_POSTALCODE }}<br/>
              Phone: {{ constance.COMPANY_PHONE }} Email: {{constance.COMPANY_EMAIL }}
            </p>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
