{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Sister Website">
    <meta name="author" content="Rizki Sasri Dwitama">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'sister_web/css/main.bundle.css' %}" rel="stylesheet">
    {% block extrastyle %}{% endblock %}
    <style>
      .message-container {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 950;
        width: 100%;
      }
    </style>
    <script src="{% static 'sister_web/js/main.bundle.js' %}"></script>
  </head>

  <body class="{% block body_class %}{% endblock %}">
    
    {% block message %}
      {% if messages %}
      <div class="message-container">
        <div class="container ph-3">
        {% for message in messages %}
            {% include 'sister_web/blocks/message.html' %}
        {% endfor %}
      </div>
    </div>
      {% endif %}
    {% endblock %}

    {% block content %}
      {{ content }}
    {% endblock %}

    
    {% block extrascripts %}{% endblock %}
    <script>
      $(function(){
        console.log('Hi im works');
        $('[data-toggle="tooltip"]').tooltip();
        $('.alert').alert();
        
      })
    </script>
  </body>
</html>
